.nav-bar {
  /* border-bottom: gray solid 1px; */
  background-color: #ffffff;
  font-size: 2.6667vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0vw 0.5333vw 1.6vw;
  z-index: 10;
}

.nav-bar::after {
  content: '';
  display: block;
  clear: both;
}

.logo {
  float: left;
  padding: 1.3333vw 1.3333vw;
  /* width: 60px;
  height: 50px; */
}
.button-list {
  float: right;
  height: 100%;
  margin: auto;
  /* margin-top: 5px; */
}

.button-list:last-child {
  margin-right: 6.6667vw;
}

.button-list > li {
  list-style: none;
  float: right;
  margin: auto 0vw;
  padding: 2vw 1.3333vw;
}
